{% extends 'base.html' %}
{% load static %}
{% load number_format %}
{% block title %}
<title>
    Giỏ hàng | IUStore
</title>
{% endblock title %}

{% block style %}
<style>
    .order-label {
        font-size: 25px;
        font-weight: bold;
    }
</style>
{% endblock style %}

{% block content %}
<div class="container pt-4">
    <div class="cart">
        <div class="cart-inner">
            <div class="cart-title">
                <h5 style="color: rgb(51,51,51); font-size: 18px;text-transform: uppercase; font-weight: 500;">
                    Thanh toán
                    <small style="font-size: 14px; text-transform: none;">(Đặt mua)</small>
                </h5>
            </div>
            <div class="cart-item-group">
                <form action="">
                    <div>
                        <label class="order-label" for="delevery">1.Chọn hình thức giao hàng</label>
                        <select class="form-control" name="delevery" id="delevery">
                            <option value="1">Giao hàng nhanh</option>
                            <option value="1">Giao hành tiết kiệm</option>
                        </select>

                        <label class="order-label" for="payment">2.Chọn phương thức thanh toán</label>
                        <select class="form-control" name="payment" id="payment">
                            <option value="1">Thanh toán trực tiếp</option>
                            <option value="2">Thẻ ATM nội địa/Internet Banking (Miễn phí thanh toán)</option>
                            <option value="2">Bít coi</option>
                        </select>

                        <div class="p-4">
                            <label class="order-label" for="bank">Chọn Ngân Hàng</label>
                            <select class="form-control" name="payment-detail" id="payment">
                                <option value="1">VI PI BANK</option>
                                <option value="2">Ha Noi Bank</option>
                            </select>

                            <div class="border mt-4 border-dark pb-2 pl-5" style="margin-left: 50px;">
                                <div class="row pt-2 " style="font-size: larger;" >
                                    <div class="col-4:">Tên chủ thẻ:</div>
                                    <div class="col">Lươn văn Linh</div>
                                </div>
                                <div class="row pt-4" style="font-size: larger;" >
                                    <div class="col-4:">Mã số thẻ:</div>
                                    <div class="col">0123456789</div>
                                </div>
                                
                            </div>
                        </div>



                        <div class="cart-submit">
                            <a href="{% url 'mystore:checkout' %}" style="text-decoration: none;"><button
                                    id="checkoutBtn" class="btn btn-cart-submit" type="submit">Đặt Hàng</button></a>
                        </div>




                    </div>



            </div>
            <!--  -->
        </div>
        <div class="cart-total-prices">
            <div class="cart-total-prices-inner">
                <div class="shipping-address">
                    <p class="heading">
                        <span style="display: inline-block; font-size: 14px; color: rgb(36, 36, 36); font-weight: 500;">
                            Giao tới
                        </span>
                        <a href="{%url 'mystore:delivery-address/show-edit'%}" style="text-decoration: none;">Thay đổi</a>
                    </p>

                    <p style="margin-bottom: 10px;">
                        <b class="cart-customer-name">{{deliveryAddress.receiver}}</b>
                        <b class="cart-customer-phone">{{deliveryAddress.phone}}</b>
                    </p>
                    <p class="cart-customer-address">{{ deliveryAddress.address}}</p>
                </div>
                <div class="prices-total">
                    <span class="prices-text">
                        Thành tiền
                    </span>
                    <span class="prices-value" id="totalPrice">{{totalPrice|int_format}} VND</span>
                </div>
                <div class="cart-submit">
                    <a href="{% url 'mystore:checkout' %}" style="text-decoration: none;"><button id="checkoutBtn"
                            class="btn btn-cart-submit">Đặt
                            hàng</button></a>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
<script src="{% static 'js/add-to-cart.js' %}"></script>
{% endblock content %}