{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>
    Giỏ hàng | IUStore
</title>
{% endblock title %}

{% block style %}
<style>

</style>
{% endblock style %}

{% block content %}
<div class="container pt-4">
    <div class="cart">
        <div class="cart-inner">
            <div class="cart-title">
                <h5 style="color: rgb(51,51,51); font-size: 18px;text-transform: uppercase; font-weight: 500;">Giỏ hàng
                    <small style="font-size: 14px; text-transform: none;">(1 sản phẩm)</small>
                </h5>
            </div>
            <div class="cart-item-group">
                <div class="cart-item">
                    <div class="cart-item-inner">
                        <div class="card-item-img">
                            <a href="#"><img
                                    src="https://salt.tikicdn.com/cache/w444/media/catalog/product/1/_/1.u5618.d20171020.t121625.494364.jpg"
                                    alt="item" width="100px" height="100px"></a>
                        </div>
                        <div class="cart-item-content">
                            <div class="cart-item-desc">
                                <a class="card-item-name" href="#">Bàn Phím Giả Cơ Chuyên Game Bosston 803
                                    LED (7 Màu) - Hàng Chính Hãng</a>
                                <a class="cart-item-del" href="#">Xóa</a>
                            </div>
                            <div class="cart-item-detail">
                                <div class="cart-item-price">
                                    <p style="font-size: 16px; font-weight: 500;">100.000đ</p>
                                </div>
                                <div class="qty">
                                    <div class="qty-input">
                                        <button class="qty-btn" style="border-right: none;" id="btnMinus">
                                            <img src="{% static 'images/icons-remove.svg' %}" alt="icon remove">
                                        </button>
                                        <input type="text" value="1" class="qty-value" id="qtyValue">
                                        <button class="qty-btn" style="border-left: none;" id="btnAdd">
                                            <img src="{% static 'images/icons-add.svg' %}" alt="icon remove">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="cart-item">
                    <div class="cart-item-inner">
                        <div class="card-item-img">
                            <a href="#"><img
                                    src="https://salt.tikicdn.com/cache/w444/media/catalog/product/1/_/1.u5618.d20171020.t121625.494364.jpg"
                                    alt="item" width="100px" height="100px"></a>
                        </div>
                        <div class="cart-item-content">
                            <div class="cart-item-desc">
                                <a class="card-item-name" href="#">Bàn Phím Giả Cơ Chuyên Game Bosston 803
                                    LED (7 Màu) - Hàng Chính Hãng</a>
                                <a class="cart-item-del" href="#">Xóa</a>
                            </div>
                            <div class="cart-item-detail">
                                <div class="cart-item-price">
                                    <p style="font-size: 16px; font-weight: 500;">100.000đ</p>
                                </div>
                                <div class="qty">
                                    <div class="qty-input">
                                        <button class="qty-btn" style="border-right: none;" id="btnMinus">
                                            <img src="{% static 'images/icons-remove.svg' %}" alt="icon remove">
                                        </button>
                                        <input type="text" value="1" class="qty-value" id="qtyValue">
                                        <button class="qty-btn" style="border-left: none;" id="btnAdd">
                                            <img src="{% static 'images/icons-add.svg' %}" alt="icon remove">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="cart-item">
                    <div class="cart-item-inner">
                        <div class="card-item-img">
                            <a href="#"><img
                                    src="https://salt.tikicdn.com/cache/w444/media/catalog/product/1/_/1.u5618.d20171020.t121625.494364.jpg"
                                    alt="item" width="100px" height="100px"></a>
                        </div>
                        <div class="cart-item-content">
                            <div class="cart-item-desc">
                                <a class="card-item-name" href="#">Bàn Phím Giả Cơ Chuyên Game Bosston 803
                                    LED (7 Màu) - Hàng Chính Hãng</a>
                                <a class="cart-item-del" href="#">Xóa</a>
                            </div>
                            <div class="cart-item-detail">
                                <div class="cart-item-price">
                                    <p style="font-size: 16px; font-weight: 500;">100.000đ</p>
                                </div>
                                <div class="qty">
                                    <div class="qty-input">
                                        <button class="qty-btn" style="border-right: none;" id="btnMinus">
                                            <img src="{% static 'images/icons-remove.svg' %}" alt="icon remove">
                                        </button>
                                        <input type="text" value="1" class="qty-value" id="qtyValue">
                                        <button class="qty-btn" style="border-left: none;" id="btnAdd">
                                            <img src="{% static 'images/icons-add.svg' %}" alt="icon remove">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="cart-item">
                    <div class="cart-item-inner">
                        <div class="card-item-img">
                            <a href="#"><img
                                    src="https://salt.tikicdn.com/cache/w444/media/catalog/product/1/_/1.u5618.d20171020.t121625.494364.jpg"
                                    alt="item" width="100px" height="100px"></a>
                        </div>
                        <div class="cart-item-content">
                            <div class="cart-item-desc">
                                <a class="card-item-name" href="#">Bàn Phím Giả Cơ Chuyên Game Bosston 803
                                    LED (7 Màu) - Hàng Chính Hãng</a>
                                <a class="cart-item-del" href="#">Xóa</a>
                            </div>
                            <div class="cart-item-detail">
                                <div class="cart-item-price">
                                    <p style="font-size: 16px; font-weight: 500;">100.000đ</p>
                                </div>
                                <div class="qty">
                                    <div class="qty-input">
                                        <button class="qty-btn" style="border-right: none;" id="btnMinus">
                                            <img src="{% static 'images/icons-remove.svg' %}" alt="icon remove">
                                        </button>
                                        <input type="text" value="1" class="qty-value" id="qtyValue">
                                        <button class="qty-btn" style="border-left: none;" id="btnAdd">
                                            <img src="{% static 'images/icons-add.svg' %}" alt="icon remove">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="cart-item">
                    <div class="cart-item-inner">
                        <div class="card-item-img">
                            <a href="#"><img
                                    src="https://salt.tikicdn.com/cache/w444/media/catalog/product/1/_/1.u5618.d20171020.t121625.494364.jpg"
                                    alt="item" width="100px" height="100px"></a>
                        </div>
                        <div class="cart-item-content">
                            <div class="cart-item-desc">
                                <a class="card-item-name" href="#">Bàn Phím Giả Cơ Chuyên Game Bosston 803
                                    LED (7 Màu) - Hàng Chính Hãng</a>
                                <a class="cart-item-del" href="#">Xóa</a>
                            </div>
                            <div class="cart-item-detail">
                                <div class="cart-item-price">
                                    <p style="font-size: 16px; font-weight: 500;">100.000đ</p>
                                </div>
                                <div class="qty">
                                    <div class="qty-input">
                                        <button class="qty-btn" style="border-right: none;" id="btnMinus">
                                            <img src="{% static 'images/icons-remove.svg' %}" alt="icon remove">
                                        </button>
                                        <input type="text" value="1" class="qty-value" id="qtyValue">
                                        <button class="qty-btn" style="border-left: none;" id="btnAdd">
                                            <img src="{% static 'images/icons-add.svg' %}" alt="icon remove">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
            </div>
            <!--  -->
        </div>
        <div class="cart-total-prices">
            <div class="cart-total-prices-inner">
                <div class="shipping-address">
                    <p style="font-size: 14px; font-weight: 500;color: rgb(36,36,36); margin-bottom: 15px;">Địa chỉ nhận
                        hàng</p>
                    <p style="margin-bottom: 10px;">
                        <b class="cart-customer-name">Dương Văn Linh</b>
                        <b class="cart-customer-phone">0396156993</b>
                    </p>
                    <p class="cart-customer-address">Mỗ Lao - Hà Đông - Hà Nội</p>
                </div>
                <div class="prices-total">
                    <span class="prices-text">
                        Thành tiền
                    </span>
                    <span class="prices-value">200.000 đ</span>
                </div>
                <div class="cart-submit">
                    <a href="{% url 'mystore:checkout' %}" style="text-decoration: none;"><button id="checkoutBtn" class="btn btn-cart-submit">Đặt
                            hàng</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/add-to-cart.js' %}"></script>
{% endblock content %}