{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>

</title>
{% endblock title %}

{% block style %}
<style>

</style>
{% endblock style %}

{% block content %}
<div class="container pt-4">
    <div class="row">
        <div class="product-detail">
            <div class="product-img">
                <img src="https://salt.tikicdn.com/cache/w444/ts/product/77/ea/24/0f64f866fa54852acb8237a1de13137a.jpg"
                    alt="Bộ bàn phím và chuột chuyên Game Led 7 màu LIMEIDE GTX300" height="400px">
            </div>
            <div style="margin: 0px 12px; width: 1px; background: rgb(242, 242, 242);"></div>
            <div class="product-content">
                <div class="product-header">
                    <h1 class="product-title">Bộ bàn phím và chuột chuyên Game Led 7 màu LIMEIDE GTX300</h1>
                    <div class="product-bellow-title">
                        <span style="margin-right: 12px;">
                            5 <i style="color: rgb(253, 216, 53);" class="fas fa-star"></i>
                        </span>
                        <a href="#" style="cursor: pointer; color: inherit; text-decoration: none;"> (Xem 1 đánh giá) </a>
                        <span style="width: 1px; height: 15px; background-color: rgb(199, 199, 199); margin: 0 8px 0 8px"></span>
                        <span > Đã bán 10 </span>
                    </div>
                </div>
                <div class="product-body">
                    <div class="product-price">
                        <span class="product-price__current-price">125.000 ₫</span>
                        <span class="product-price__price">255.000 ₫</span>
                        <span class="product-price__discount-rate">-51%</span>
                    </div>
                    <div class="add-to-cart">
                        <div class="qty">
                            <span style="color: rgb(36, 36, 36);"> Số Lượng </span>
                            <div class="qty-input">
                                <button class="qty-btn" style="border-right: none;" id="btnMinus">
                                    <img src="{% static 'images/icons-remove.svg' %}" alt="icon remove">
                                </button>
                                <input type="text" value="1" class="qty-value" id="qtyValue"> 
                                <button class="qty-btn"  style="border-left: none;" id="btnAdd">
                                    <img src="{% static 'images/icons-add.svg' %}" alt="icon remove">
                                </button>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-add-to-cart">Chọn Mua</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/add-to-cart.js' %}"></script>
{% endblock content %}

