{% extends 'dashboard-base.html' %} {% block title %}
<title>Thêm mới sản phẩm</title>
{% endblock title %}
{% block content %}
<!-- Main content -->
<body>
    <div class="container">
        <form action="" method="POST">
            <div class="col pt-2 pb-2 mt-2 bg-light" style="border: 1px solid #f3f3f3;">
                <h3>Thông tin cơ bản</h3>
                <div class="col form-group">
                    <small class="text-muted">(*) là các trường bắt buộc hoàn thành</small>
                </div>
                <div class="col form-inline">
                    <label for="_image" style="margin-right: 30px;">Hình ảnh sản phẩm*</label>
                    
                    <div class="drop-zone mr-2">
                        <span class="drop-zone__prompt">Ảnh bìa</span>
                        <input type="file" name="image1" class="drop-zone__input">
                    </div>

                    <div class="drop-zone mr-2">
                        <span class="drop-zone__prompt">Ảnh 1</span>
                        <input type="file" name="image2" class="drop-zone__input">
                    </div>

                    <div class="drop-zone mr-2">
                        <span class="drop-zone__prompt">Ảnh 2</span>
                        <input type="file" name="image3" class="drop-zone__input">
                    </div>

                    <div class="drop-zone mr-2">
                        <span class="drop-zone__prompt">Ảnh 3</span>
                        <input type="file" name="image4" class="drop-zone__input">
                    </div>

                    <div class="drop-zone mr-2">
                        <span class="drop-zone__prompt">Ảnh 4</span>
                        <input type="file" name="image5" class="drop-zone__input">
                    </div>

                    <div class="drop-zone mr-2">
                        <span class="drop-zone__prompt">Ảnh 5</span>
                        <input type="file" name="image6" class="drop-zone__input">
                    </div>
                </div>
    
                <div class="col form-group">
                    <label for="_des">Mô tả sản phẩm*</label>
                    <textarea class="form-control" name="description" id="description" cols="10" rows="3"></textarea>
                </div>
    
                <div class="col form-group">
                    <label for="reputation">Thương hiệu*</label>
                    <input class="form-control" type="text" placeholder="Nhập tên thương hiệu" required>
                </div>
            </div>
    
            <div class="col mt-2 pt-2 pb-2 bg-light" style="border: 1px solid #f3f3f3;">
                <h3>Thông tin bán hàng</h3>
                <div class="col form-group">
                    <label for="price">Giá*</label>
                    <input class="form-control" type="text" placeholder="Nhập giá sản phẩm. Đơn vị 'VND'" required>
                </div>
                <div class="col form-group">
                    <label for="stock">Kho hàng*</label>
                    <input class="form-control" type="text" placeholder="Nhập số lượng hàng còn trong kho" required>
                </div>
            </div>
    
            <div class="col mt-2 pt-2 pb-2 bg-light" style="border: 1px solid #f3f3f3;">
                <h3>Vận chuyển</h3>
                <div class="col form-group">
                    <label for="weight">Cân nặng*</label>
                    <input class="form-control" type="text" placeholder="Đơn vị 'kg'" required>
                </div>
                <div class="col form-group form-inline">
                    <label for="demension">Kích thước*</label>
                    <input class="form-control ml-3 mr-3" type="text" placeholder="Dài" name="length" required>
                    <input class="form-control mr-3" type="text" placeholder="Rộng" name="width" required>
                    <input class="form-control mr-3" type="text" placeholder="Cao" name="height" required>
                    <p class="form-text text-muted">
                        <small>Đơn vị 'mm'</small>
                    </p>
                </div>
            </div>
    
            <div class="col mt-2 pt-2 pb-2 bg-light" style="border: 1px solid #f3f3f3;">
                <h3>Thông tin khác</h3>
                <div class="col form-group form-inline pt-2">
                    <label for="orderFirst">Hàng đặt trước</label>
                    <div class="form-inline ml-3">
                        <input class="mr-2 ml-lg-5" type="radio" name="nope">
                        <label for="_none">Không</label>
                    </div>
                    <div class="form-inline ml-3">
                        <input class="ml-2 mr-2" type="radio" name="yep">
                        <label for="_yep">Đồng ý</label>
                    </div>
                </div>
    
                <div class="col form-group">
                    <label for="status" class="mr-3">Tình trạng</label>
                    <select class="form-control" id="typeProduct">
                        <option value="" style="display: none;">Chọn trạng thái</option>
                        <option value="1">Mới</option>
                        <option value="2">Đã sử dụng</option>
                    </select>
                </div>
    
                <div class="col form-group">
                    <label for="sku">SKU sản phẩm*</label>
                    <input class="form-control" type="text" placeholder="Nhập mã SKU sản phẩm" required>
                </div>
            </div>
    
            <div class="col form-group mt-2 pt-2 pb-2">
                <button class="btn btn-info" data-toggle="modal" data-target="#cancel">Hủy</button>
                <button type="submit" class="btn btn-success">Lưu & Hiển thị</button>
            </div>
        </form>
    </div>

    <!-- Modal cancel -->
    <div class="modal fade" id="cancel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận hủy thêm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc muốn hủy thêm sản phẩm?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-danger" onclick="window.history.go(-1); return false;">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Script add image -->
    <script>
        document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
            const dropZoneElement = inputElement.closest(".drop-zone");

            dropZoneElement.addEventListener("click", (e) => {
                inputElement.click();
            });

            inputElement.addEventListener("change", (e) => {
                if (inputElement.files.length) {
                updateThumbnail(dropZoneElement, inputElement.files[0]);
                }
            });

            dropZoneElement.addEventListener("dragover", (e) => {
                e.preventDefault();
                dropZoneElement.classList.add("drop-zone--over");
            });

            ["dragleave", "dragend"].forEach((type) => {
                dropZoneElement.addEventListener(type, (e) => {
                dropZoneElement.classList.remove("drop-zone--over");
                });
            });

            dropZoneElement.addEventListener("drop", (e) => {
                e.preventDefault();

                if (e.dataTransfer.files.length) {
                inputElement.files = e.dataTransfer.files;
                updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
                }

                dropZoneElement.classList.remove("drop-zone--over");
            });
        });

        function updateThumbnail(dropZoneElement, file) {
            let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");

            // First time - remove the prompt
            if (dropZoneElement.querySelector(".drop-zone__prompt")) {
                dropZoneElement.querySelector(".drop-zone__prompt").remove();
            }

            // First time - there is no thumbnail element, so lets create it
            if (!thumbnailElement) {
                thumbnailElement = document.createElement("div");
                thumbnailElement.classList.add("drop-zone__thumb");
                dropZoneElement.appendChild(thumbnailElement);
            }

            thumbnailElement.dataset.label = file.name;

            // Show thumbnail for image files
            if (file.type.startsWith("image/")) {
                const reader = new FileReader();

                reader.readAsDataURL(file);
                reader.onload = () => {
                thumbnailElement.style.backgroundImage = `url('${reader.result}')`;
                };
            } else {
                thumbnailElement.style.backgroundImage = null;
            }
        }
    </script>
</body>
{% endblock content %}
