{% extends 'dashboard-base.html' %} {% block title %}
<title>Saler</title>
{% endblock title %}
{% block content %}
<!-- Main content -->
<body>
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <!-- Search -->
            <div class="col-5">
                <form action="#" method="GET" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Tìm đơn hàng" aria-label="Search" />
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                        Search
                    </button>
                </form>
            </div>

            <!-- Date -->
            <div class="col form-inline">
                <label for="_date" style="margin-right: 10px">Ngày đặt hàng </label>
                <div class="form-group">
                    <div style="margin-right: 10px">
                        <input type="date" name="from-date" required />
                    </div>
                    <div>
                        -
                        <input type="date" name="to-date" required style="margin-left: 5px" />
                    </div>
                </div>
                <button class="btn btn-light" style="margin-right: 10px; margin-left: 10px; border: 1px solid thistle">
                    Xuất
                </button>
                <button class="btn btn-link">
                    <span><i class="fa fa-list-alt" aria-hidden="true"></i></span>
                </button>
            </div>
        </div>

        <!-- Table -->
        <div class="bg-light" style="border-radius: 5px; padding-left: 15px;">
            <div class="row" style="margin-top: 50px">
                <div class="col-10">
                    <h3>Đơn hàng</h3>
                </div>
                <div style="margin-top: 10px;">
                    <button class="btn btn-danger">
                        <span><i class="fa fa-shopping-bag" aria-hidden="true"></i></span> Giao
                        hàng loạt
                    </button>
                </div>
            </div>
    
            <div>
                <table class="table" style="max-width: 100%; margin-top: 20px">
                    <colgroup>
                        <col span="1" style="width: 30%" />
                        <col span="1" style="width: 15%" />
                        <col span="1" style="width: 15%" />
                        <col span="1" style="width: 15%" />
                        <col span="1" style="width: 15%" />
                        <col span="1" style="width: 20%" />
                    </colgroup>
                    <thead style="text-align: center">
                        <th>Sản phẩm</th>
                        <th>Tổng đơn hàng</th>
                        <th>Trạng thái</th>
                        <th>Đếm ngược</th>
                        <th>Vận chuyển</th>
                        <th>Thao tác</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
{% endblock content %}
